
.cake-box{
  display: block;
  width: 500px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  padding:15px;
  padding-bottom:20px;
  img{
    width:100%;
    max-width:200px;
    margin:0 auto 15px auto;
    display:block;
  }
  .comment{
    font-style:italic;
    font-size:20px;
    padding:10px;
  }
  .rating{
    font-size:20px;
    padding:10px;
    padding-top:0;
  }
}
